:root {
  /* Default (fallback) colors */
  --background: #16171b;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #16171b;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background: none;
  border: 2px solid #00d8ff;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 0 10px #4ec8ff; /* Glow effect */
}

ul, ol {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

h1 {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #4ec8ff
}