.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  border-top: 1px solid #e9ecef;
  left: 0;
  bottom: 0;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}