.main {
  flex-grow: 1
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  border-top: 1px solid #e9ecef;
  left: 0;
  bottom: 0;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.headerLogoPadding {
  padding-top: 5px;
  padding-left: 30px;
}

.footerNavigation {
  display: flex;
  gap: 20px;
}

.headerNavigation {
  display: flex;
  gap: 50px;
  padding-right: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  display: block;
  font-size: 0.6em;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}