.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 20px;
}
 
.invalid {
  color: red;
}

.emptyInput {
  background-color: #ff0000;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.hidden {
  visibility: hidden;
}