.userInputContainer {
  display: flex;
  flex-direction: column; /* Stack inputs vertically */
  align-items: top;
  padding: 20px;
}

.userInputGroup {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 50px;
  max-width: 70em;
  margin: 0 auto;
}

.userInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInput label {
  margin-right: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.mazeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}